header{
    background-color: orangered;
    color: white;
    min-height: 10em;
    border-radius: 1em 1em 1em 1em;
    text-align: center;
}

form{
    width: 50%;
}

section{
    background-color: rgb(163, 163, 163);
    border-radius: 1em 1em 1em 1em;
}

th{
    font-size: 1.5em;
    width: 50%;
}

tr{
    border-bottom: 1px solid grey;
    width: 100%;
}
td{
    padding: 0.5em;
}

table{
    width: 90%;
    text-align: center;
    color: black;
}

button{
    background-color: orangered;
    color: white;
    margin: 1em;
    width: 50%;
}

input{
    font-size: 1em !important;
}

#mensagens{
    width: 50%;
    margin-top: 1em;
}
.formAdiciona{
    margin: 1em;
}

#botoes{
    flex-direction: row !important;
}

#titulo{
    font-size: 3em;
}

#subtitulo{
    font-size: 2em;
}

#nome{
    font-size: 1.5em;
}

.flexBoxCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayNone{
    display: none;
}

.bordaVermelha{
    border: 2px solid red !important;
}